<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 home">
        <div class="light" ng-repeat="light in lights">
          <div class="state">
            <div class="light-on" ng-show="light.state.on" ng-click="toggle(light)"></div>
            <div class="light-off" ng-hide="light.state.on" ng-click="toggle(light)"></div>
          </div>
          <div class="details">
            {{light.name}}
          </div>
          <div class="end"></div>
        </div>
	</div>
</div>
